* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


/*-------------------star HEADER-----------------*/

header {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.fa-shopping-cart:before {
    font-size: 14pt;
    line-height: 27px;
    margin-right: 10px;
}


.top-menu {
    width: 1100px;
    height: 60px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.top-menu .logo {
    width: 110px;
}

.top-menu form {
    width: 425px;
    height: auto;
}

.top-menu form .search {
    width: 353px;
    padding: 4px;
}

.top-menu form .btn {
    padding: 5.6px;
    border: none;
    background-color: #1ba085;
    color: white;
    text-transform: capitalize;
}


/*
.top-menu .wrap-login {
    float: right;
}
*/

.login,
.register {
    height: 27px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
}

.login button {
    background-color: #1ba085;
    border: none;
    margin-left: 10px;
}

.login a,
.register a {
    color: white;
}

.user {
    float: left;
    width: auto;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 5px;
}

.user i {
    font-size: 20px;
    color: tomato;
}

.logout {
    float: right;
    width: 100px;
    height: 27px;
    border: none;
    border-radius: 2px;
    background-color: #1ba085;
    text-transform: capitalize;
}

.logout a,
.logout i {
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 17px 10%;
    background-color: white;
    transition: 0.3s;
    z-index: 4;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.sticky+.content {
    padding-top: 100px;
}

.small_logo {
    width: 20px;
}


/* start menu*/

.bot-menu {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}

.bot-menu li {
    list-style: none;
    display: inline;
    padding: 20px;
}

.bot-menu li a {
    color: black;
    text-transform: uppercase;
    line-height: 40px;
}

.bot-menu li a:hover {
    color: #1ba085;
}


/* end menu*/


/*------------------------end HEADER-------------------*/


/*------------------------star HOME--------------------*/

section {
    width: 1100px;
    margin: auto;
    overflow: hidden;
}


/*start banner */

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}


/*end banner*/

.content {
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding-bottom: 10px;
}

.left-siderbar {
    width: 250px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    background-color: white;
}

.left-siderbar .h2 {
    border-bottom: 1px solid #1ba085;
    font-size: 18px;
    color: #1ba085;
}

.left-siderbar li {
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.left-siderbar li a {
    text-transform: capitalize;
    color: black;
}

.left-siderbar li a:hover {
    color: #1ba085;
}

.right-siderbar {
    width: 850px;
    float: left;
    padding-left: 30px;
}

.right-siderbar .content-header {
    display: flex;
    justify-self: start;
    justify-content: space-between;
    border-bottom: 1px solid #1ba085;
    height: 40px;
}

.content-header .title {
    width: 30%;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 55px;
    color: #168f77;
}

.content-header ul li {
    list-style: none;
    display: inline;
    padding-left: 20px;
    position: relative;
}

.content-header ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: black;
}

.content-header ul li a:hover {
    color: #168f77;
}

.content-header ul li:hover::before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #168f77;
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
}

.wrap-book {
    padding-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.box-transparent {
    width: 260px;
    height: 228px;
    margin-top: 30px;
    margin-left: 12px;
}

.box-transparent .book img {
    width: 120px;
    height: 176px;
    position: absolute;
    top: -20px;
    left: 15px;
}

.box-transparent .book {
    width: 260px;
    height: 198px;
    background-color: white;
    position: relative;
    padding-top: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.box-transparent .book:hover::before {
    content: "";
    width: 100%;
    height: 198px;
    top: 0;
    left: 0;
    position: absolute;
    border: 1px solid #1b806b;
}

.box-transparent .book .title {
    width: 44%;
    float: right;
    text-transform: capitalize;
}

.box-transparent .book .title .author {
    color: gray;
    font-size: 12px;
}

.box-transparent .view {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: gray;
}

.box-transparent .book button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 26px;
    border: none;
    border-radius: 2px;
    background-color: #1ba085;
}

.box-transparent .book button a {
    color: white;
}

.br-bot {
    width: 1200px;
    height: 180px;
    margin: auto;
}

.br-bot img {
    width: 100%;
    height: 160px;
}


/*---------------------end HOME----------------------*/


/*------calendar-------*/

.wrap {
    width: 1100px;
    height: 160px;
    margin: 0 auto;
    background-color: #8bd0de;
    margin-bottom: 30px;
}

.left-wrap {
    float: left;
    width: 230px;
    height: 130px;
    padding: 10px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 6px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.left-wrap p {
    margin: 8px 0;
}

.left-wrap .txt {
    font-size: 18px;
}

.left-wrap .year {
    font-size: 20px;
}

.left-wrap .month {
    font-size: 26px;
    font-weight: 700;
}

.right-wrap {
    float: left;
    width: 840px;
    padding: 10px;
}

.right-wrap .scrollbar {
    width: 810px;
    height: 140px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.right-wrap .scrollbar .trans {
    width: 2150px;
}

#style::-webkit-scrollbar {
    height: 8px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

#style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 100px white;
}

#style::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 20px #8bd0de;
}

#style::-webkit-scrollbar-thumb:hover {
    background-color: #1ba085;
}

.box-calendar {
    float: left;
    width: 240px;
    height: 102px;
    padding: 15px;
    margin-right: 25px;
    margin-top: 14px;
    border-radius: 6px;
    background-color: white;
    text-transform: capitalize;
    position: relative;
}

.calendar {
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 15px;
    border-radius: 6px;
    background-color: #8bd0de;
    text-align: center;
    text-transform: capitalize;
    padding-top: 15px;
}

.calendar .week-day {
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
}

.calendar .date {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 0;
    margin: 0;
}

.txt-calendar {
    float: left;
    width: 123px;
}

.txt-calendar .name {
    padding: 0;
    margin: 0;
    width: 123px;
    height: 46px;
    padding-top: 6px;
}

.txt-calendar .name a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.txt-calendar .name a:hover {
    color: #1ba085;
}

.txt-calendar .episode {
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    margin: 0;
}


/*------calendar-------*/


/*------mới nhất-------*/

.new-week {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    padding: 0 30px 20px;
    margin-bottom: 20px;
    clear: both;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.card-book {
    width: 150px;
    height: 335px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    position: relative;
    margin-left: 20px;
}

.card-book p a {
    color: black;
}

.card-book p a:hover {
    color: #1b806b;
}

.card-book:hover::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 335px;
    top: 0;
    left: 0;
    border: 1px solid #168f77;
    z-index: 0;
}

.card-book>div {
    position: absolute;
    width: 150px;
    height: 317px;
    top: 0;
    left: 0;
    z-index: 2;
}

.card-book img {
    width: 100%;
    height: 219px;
}

.card-book .txt {
    padding: 0 10px;
    text-transform: capitalize;
}

.card-book .name {
    font-size: 13px;
    height: 32px;
}

.card-book .author {
    font-size: 12px;
    color: gray;
}

.card-book .view {
    border-top: 1px solid rgba(0, 0, 0, .2);
    ;
    padding-top: 8px;
    font-size: 12px;
    color: gray;
}


/*---------mới nhất---------*/


/*------banner-middle-------*/

.bn {
    width: 100%;
    margin-bottom: 20px;
}

.bn .img {
    width: 100%;
    height: 480px;
    background-image: url('../img/bn5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bn-tilte {
    border: 1px solid black;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/*------banner-middle-------*/


/*---------------------star PRODUCT------------------*/

.product {
    height: 50px;
}

.product p {
    border-bottom: 1px solid #1ba085;
    font-size: 18px;
    color: #1ba085;
    text-transform: uppercase;
}

.row-book {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.row-book .book {
    position: relative;
    width: 190px;
    height: 270px;
    background-color: white;
    margin: 20px 0;
    margin-left: 20px;
}

.row-book .book:hover::before {
    content: "";
    width: 190px;
    height: 270px;
    top: 0;
    left: 0;
    position: absolute;
    border: 1px solid #1ba085;
}

.book img {
    width: 120px;
    height: 175px;
    position: absolute;
    top: -20px;
    left: 34px;
}

.book .name {
    width: 150px;
    margin: auto;
    position: absolute;
    bottom: 75px;
    left: 20px;
    text-transform: capitalize;
}

.book .view {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 11px;
    color: gray;
}

.book button {
    position: absolute;
    bottom: 40px;
    right: 45px;
    width: 100px;
    height: 26px;
    border: none;
    border-radius: 2px;
    background-color: #1ba085;
}

.book button:hover {
    background-color: #1b806b;
}

.book button a {
    color: white;
}


/*---------------------end PRODUCT-------------------*/


/*---------------------start ABOUT-------------------*/

.section1 {
    width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 30px;
}

.content1 {
    width: 70%;
    background-color: white;
    padding: 20px;
    float: left;
}

.right1 {
    width: 30%;
    height: 559px;
    float: left;
    background: url('../img/bn4.jpg');
    background-size: auto;
}


/*---------------------end ABOUT-------------------*/


/*---------------------star CONTACT-------------------*/

.section2 {
    width: 1200px;
    margin: auto;
    padding: 30px 0;
}

.section2 .sign-up {
    text-align: center;
    padding-top: 20px;
    color: #1ba085;
}

.section2 .form-transparent {
    width: 1200px;
    height: auto;
    background-color: white;
    height: 530px;
}

.section2 .form {
    width: 450px;
    margin: auto;
}

.section2 label {
    font-size: 15px;
}

.section2 .box {
    width: 100%;
    border: none;
    border-bottom: 2px solid #1ba085;
    padding: 12px 20px;
    margin: 8px 0;
}

.section2 .form .submit {
    width: 90px;
    padding: 10px;
    border: none;
    background-color: #1ba085;
    color: white;
    border-radius: 3px;
}


/*---------------------end CONTACT-------------------*/


/*---------------------start NEWS--------------------*/

.news {
    font-size: 18px;
    color: #1ba085;
    border-bottom: 1px solid #1ba085;
    text-transform: uppercase;
}

.content2 {
    width: 70%;
    height: auto;
    background-color: white;
    padding: 10px;
    float: left;
}

.content2 .row-new {
    width: 50%;
    float: left;
    padding: 10px;
}

.content2 .row-new img {
    width: 100%;
}

.content2 .row-new .name {
    text-transform: uppercase;
    color: #1ba085;
    font-size: 15px;
}

.content2 .row-new .name:hover {
    color: #168f77;
}

.right {
    width: 28%;
    float: right;
    background-color: white;
    height: auto;
    padding-top: 10px;
}

.right .col-new {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.right .col-new img {
    width: 100%;
}

.right .col-new .name {
    font-size: 15px;
    text-transform: uppercase;
    color: #1ba085;
}


/*---------------------end NEWS----------------------*/


/*---------------------start FOOTER------------------*/


/*start slogan*/

.slogan {
    width: 100%;
    height: 140px;
    text-align: center;
    background-color: #1ba085;
    color: white;
    padding-top: 20px;
}

.slogan .author {
    font-size: large;
}


/*end solgan*/

footer {
    width: 100%;
    height: 210px;
    padding: 20px;
}

.footer-transparent {
    width: 1200px;
    margin: auto;
}

.information {
    width: 20%;
    float: left;
}

.contact {
    width: 60%;
    float: left;
}

.connect {
    width: 20%;
    float: left;
}

.connect a {
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    transition: .3s linear;
    position: relative;
    color: white;
}

.connect a:hover {
    transform: scale(1.3);
    background-color: #1ba085;
}

.connect a i::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}


/*--------------------------end FOOTER----------------------*/


/*-----------product detail----------*/

.content3 {
    width: 1100px;
    overflow: auto;
    margin: 0 auto;
}

.wrap-header {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    border-bottom: 1px solid #1b806b;
}

.wrap-header .card-title {
    float: left;
}

.wrap-header .card-title h1 {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #1b806b;
}

.wrap-header .wrap-nav {
    float: right;
    line-height: 40px;
}

.wrap-header .wrap-nav li {
    list-style: none;
    display: inline;
    padding-left: 20px;
    position: relative;
}

.wrap-header .wrap-nav li a {
    font-size: 14px;
    color: black;
    text-transform: capitalize;
}

.wrap-header .wrap-nav li a:hover {
    color: #197461;
}

.wrap-header .wrap-nav li:hover::before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #168f77;
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
}

.left-wrap-cnt {
    float: left;
    width: 830px;
    background-color: white;
    padding: 15px;
}

.top-left-wr {
    width: 100%;
    display: flex;
    /* overflow: auto; */
}

.left-wrap-cnt .card-img {
    float: left;
    width: 240px;
    height: 350px;
}

.left-wrap-cnt .card-img img {
    width: 100%;
}

.left-wrap-cnt .txt-detail {
    float: left;
    width: 550px;
    padding: 0 40px;
}

.left-wrap-cnt .txt-detail h1 {
    margin: 0;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 20px;
}

.left-wrap-cnt .txt-detail p {
    font-size: 14px;
}

.left-wrap-cnt .txt-detail span {
    color: #168f77;
    text-transform: capitalize;
}

.left-wrap-cnt .price {
    font-size: 20px;
    color: #168f77;
}

.left-wrap-cnt .txt-detail button {
    width: 100px;
    height: 27px;
    border: none;
    border-radius: 2px;
    background-color: #1ba085;
    text-transform: capitalize;
    margin-top: 10px;
}

.left-wrap-cnt .txt-detail button a {
    color: white;
}

.left-wrap-cnt .detail {
    padding-top: 20px;
    word-spacing: 2px;
}

.right-wrap-cnt {
    float: right;
    width: 260px;
    padding: 15px;
    background-color: white;
}

.cmt {
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
}

.right-wrap-cnt h1 {
    margin: 0;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 10px;
}

.right-wrap-cnt .list-img {
    width: 150px;
    margin: 0 auto;
}

.right-wrap-cnt .box-img {
    width: 150px;
    height: 220px;
    margin-top: 15px;
    position: relative;
}

.right-wrap-cnt img {
    width: 100%;
}

.right-wrap-cnt .box-img:hover::before {
    content: "Chi tiết";
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #168f77;
    text-align: center;
    color: #f5f5f5;
    line-height: 40px;
}


/*-----------product detail----------*/

/*-----------CART----------*/
table.cart, tr{
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

.cart td, .cart th {
    padding: 10px 20px;
}

.cart th {
    font-weight: 600;
    font-size: 12pt;
    color: #197461;
}

.cart img {
    width: 100px;
}

.cart_box {
    width: 60%;
    margin: 0 auto;
}

.cart_box .btn{
    color: #fff;
    background-color: #197461;
    padding: 10px 15px;
    margin: 20px 0;
    display: inline-block;
}



/* //COMMENT */

    .cmt_box {
        background-color:blueviolet;
    }

    .cmt {
        float: left;
        width: 100%;
    }

    .cmt img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }

    .cmt .name {
        font-weight: 600;
    }

    #err {
        width: 100%;
        color: #d63031;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
    }


    .box_comment input {
        width: 100%;

        height: 40px;
    }

    .box_comment textarea {
        width: 80%;
        margin-top: 10px;
    }

    .box_comment .btn {
        background-color: #1ba085;
        border: 2px solid #1ba085;
        color: #fff;
        width: 20%;
    }